version: '3.1'

services:

  mongo:
    image: mongo:5.0.3
    container_name: lab1-mongo
    restart: unless-stopped	
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: pass
    ports:
      - "27017:27017"
