version: '3.1'

services:

  mongo1:
    hostname: mongo1
    container_name: mongo1
    image: mongo:5.0.3
    expose:
      - 27017
    networks:
      - internal
    ports:
      - 27017:27017
    restart: always
    entrypoint: [ "/usr/bin/mongod", "--bind_ip_all", "--replSet", "rs0", "--journal", "--dbpath", "/data/db" ]
  mongo2:
    hostname: mongo2
    container_name: mongo2
    image: mongo:5.0.3
    expose:
      - 27017
    networks:
      - internal
    ports:
      - 27018:27017
    restart: always
    entrypoint: [ "/usr/bin/mongod", "--bind_ip_all", "--replSet", "rs0", "--journal", "--dbpath", "/data/db" ]
  mongo3:
    hostname: mongo3
    container_name: mongo3
    image: mongo:5.0.3
    expose:
      - 27017
    networks:
      - internal
    ports:
      - 27019:27017
    restart: always
    entrypoint: [ "/usr/bin/mongod", "--bind_ip_all", "--replSet", "rs0", "--journal", "--dbpath", "/data/db" ]

  mongo-setup:
    container_name: mongo-setup
    image: mongo:5.0.3
    restart: on-failure
    networks:
      - internal
    volumes:
      - ./tools/mongo:/scripts
    entrypoint: [ "/scripts/setup.sh" ] # Make sure this file exists (see below for the setup.sh)
    depends_on:
      - mongo1
      - mongo2
      - mongo3

  cache:
    container_name: lab1-cache
    build:
      context: .
      dockerfile: Dockerfile.cache
    ports:
      - 4444:4444
    environment:
      PORT: 4444
    depends_on:
      - mongo1
      - mongo2
      - mongo3
      - mongo-setup
    networks:
      - internal

  gateway:
    container_name: lab1-gateway
    build:
      context: .
      dockerfile: Dockerfile.gateway
    ports:
      - 3333:3333
    environment:
      PORT: 3333
      # internal dns domain resolution
      # cache will be resolved to the actual cache service above
      CACHE_URI: http://cache:4444
    depends_on:
      - mongo1
      - mongo2
      - mongo3
      - mongo-setup
      - cache
    networks:
      - internal

  user-service:
    container_name: lab1-user-service
    build:
      context: .
      dockerfile: Dockerfile.user-service
    ports:
      - 3000:3000
    environment:
      PORT: 3000
      MONGO_URL: mongo1:27017,mongo2:27017,mongo3:27017
      GATEWAY_URI: http://gateway:3333
      SELF_NAME: user-service
    depends_on:
      - mongo1
      - mongo2
      - mongo3
      - mongo-setup
      - cache
      - gateway
    networks:
      - internal

  trip-service:
    container_name: lab1-trip-service
    build:
      context: .
      dockerfile: Dockerfile.trip-service
    ports:
      - 3001:3001
    environment:
      PORT: 3001
      MONGO_URL: mongo1:27017,mongo2:27017,mongo3:27017
      GATEWAY_URI: http://gateway:3333
      SELF_NAME: trip-service
    depends_on:
      - mongo1
      - mongo2
      - mongo3
      - mongo-setup
      - cache
      - gateway
    networks:
      - internal

  payment-service:
    container_name: lab1-payment-service
    build:
      context: .
      dockerfile: Dockerfile.payment-service
    ports:
      - 3002:3002
    environment:
      PORT: 3002
      MONGO_URL: mongo1:27017,mongo2:27017,mongo3:27017
      GATEWAY_URI: http://gateway:3333
      SELF_NAME: payment-service
    depends_on:
      - mongo1
      - mongo2
      - mongo3
      - mongo-setup
      - cache
      - gateway
    networks:
      - internal

networks:
  internal:
    name: custom_network